h2 Login

form(action="/login" method="post")
  label username
  input(type="text" name="username" placeholder="Enter Username")
  label Password
  input(type="password" name="password" placeholder="Enter password")
  button(type="submit") Login=>

a(href="/register") Sign Up!!! <br/>

a(href="/login") Log in<br/>

a(href="/logout") Log out<br/>