
html
  head
    title #{title}
  body
    h1 Slap me three times
    //- - var name = 'kolade'
    if name
      h1(class="" id="head" style="color:tomato") #{name}
    else
      h1(class="" id="head" style="color:purple") No name

